<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="Keywords" content="jquery.confirm, jquery confirm, jquery alert, jquery prompt, jquery dialog, javascript, bootstrap"/>
        <title>{% block title %}Welcome!{% endblock %}</title>

        
        
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/font-awesome/css/font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/simple-line-icons/simple-line-icons.min.css')}}"/>        
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/bootstrap/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/uniform/css/uniform.default.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')}}"/>
        <!-- END GLOBAL MANDATORY STYLES -->



        {% block stylesheets %}      {% endblock %}

        <!-- BEGIN THEME STYLES -->
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/css/components.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/css/plugins.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/admin/layout4/css/layout.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/admin/layout4/css/themes/light.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/admin/layout4/css/custom.css')}}"/>
        <!-- END THEME STYLES -->

        

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo login">

        {% block body %}{% endblock %}        


        <script  src="{{asset('bundles/piedra/global/plugins/jquery.min.js')}}"></script>
        <script  src="{{asset('bundles/piedra/global/plugins/jquery-migrate.min.js')}}"></script>

        <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script  src="{{asset('bundles/piedra/global/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
        <script  src="{{asset('bundles/piedra/global/plugins/bootstrap/js/bootstrap.min.js')}}"></script>        
        <script  src="{{asset('bundles/piedra/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}"></script>
        <script  src="{{asset('bundles/piedra/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
        <script  src="{{asset('bundles/piedra/global/plugins/jquery.blockui.min.js')}}"></script>
        <script  src="{{asset('bundles/piedra/global/plugins/jquery.cokie.min.js')}}"></script>
        <script  src="{{asset('bundles/piedra/global/plugins/uniform/jquery.uniform.min.js')}}"></script>
        <script  src="{{asset('bundles/piedra/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}"></script>

        

        {% block javascripts %} {% endblock %}

        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script  src="{{asset('bundles/piedra/global/scripts/metronic.js')}}"></script>
        <script  src="{{asset('bundles/piedra/admin/layout4/scripts/layout.js')}}"></script>
        <script  src="{{asset('bundles/piedra/admin/layout4/scripts/demo.js')}}"></script>
       
       {% block jsend %} {% endblock %}

        <script>
            jQuery(document).ready(function() {       
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                Demo.init(); // init demo features


                       
               
                            
            });

        </script>

    </body>
</html>
