{% extends '::base.html.twig' %}

{% block title %}RRHH - Unidad {% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/select2/select2.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/bootstrap-datepicker/css/datepicker3.css')}}"/>

    <!-- END PAGE LEVEL STYLES -->
{% endblock %}



{% block body %}

  {% include 'PiedraBundle:include:header.html.twig' %}

  <!-- END HEADER -->
  <div class="clearfix"></div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    

  {% include 'PiedraBundle:include:sidebar.html.twig' %}

  <div class="page-content-wrapper">
    <div class="page-content">
      <!-- BEGIN PAGE CONTENT-->
      
      <div class="row">
        <div class="col-md-12">
					<!-- BEGIN VALIDATION STATES-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-"></i>Datos Unidad
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form action="{{ path('gestionar_unidad')}}" id="form_unidad" class="form-horizontal" method="post">
								<div class="form-body">
									
									<div class="alert alert-danger display-hide">
										<button class="close" data-close="alert"></button>
										Usted tiene algunos errores. Por favor verifique a continuación
									</div>
									<div class="alert alert-success display-hide">
										<button class="close" data-close="alert"></button>
										¡Su validación de formulario es exitosa!
									</div>

									<div class="form-group">
										<label class="control-label col-md-3">Nombre Unidad <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<input type="text" name="unidad" id="unidad" data-required="1" class="form-control" value="{{ unidad.unidad }}" />
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3">Cita <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<textarea type="text" name="cita" id="cita" data-required="1" class="form-control" >{{ unidad.cita }}</textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3">Teléfono <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<input type="text" name="telefono" id="telefono" data-required="1" class="form-control" value="{{ unidad.telefono }}" />
										</div>
									</div>

									

									<div class="form-group">
										<label class="control-label col-md-3">Municipio <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<select class="form-control select2me" name="municipio" id="municipio">
												<option value="">Selecione el Municipios</option>

												{% for p in municipios %}
													<optgroup label=" {{ p.provincia }} ">
													{% for m in p.municipio %}
														<option {% if unidad.municipio.id == m.id %} selected="" {% endif %} value="{{m.id}}"> {{ m.municipio }}</option>
													{% endfor %}											
												{% endfor %}												
											</select>
										</div>
									</div>								
								
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn green">Editar Unidad</button>											
											<button type="button" class="btn default">Cancelar</button>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->
						</div>
						<!-- END VALIDATION STATES-->
					</div>
				</div>
      </div>
      <!-- END PAGE CONTENT -->
    </div>
  </div>

  </div>



{% endblock %}

{% block javascripts %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    
    <script type="text/javascript"  src="{{asset('bundles/piedra/global/plugins/jquery-tabledit/jquery.tabledit.js')}}"></script>
    <script type="text/javascript"  src="{{asset('bundles/piedra/global/plugins/jquery.input-ip-address-control-1.0.min.js')}}"></script>
    <script type="text/javascript"  src="{{asset('bundles/piedra/global/plugins/jquery-validation/js/jquery.validate.min.js')}}"></script>
    <script type="text/javascript"  src="{{asset('bundles/piedra/global/plugins/jquery-validation/js/additional-methods.min.js')}}"></script>
	<script  src="{{asset('bundles/piedra/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
	<script  src="{{asset('bundles/piedra/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/select2/select2.min.js')}}"></script>



    <script > 

    	


    var FormValidation = function () {
  
    var handleValidation3 = function() {

            var form3 = $('#form_unidad');
            var error3 = $('.alert-danger', form3);
            var success3 = $('.alert-success', form3);            

            form3.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                rules: {
                    unidad: {
                        minlength: 2,
                        required: true
                    },
                    cita: {
                        minlength: 11,
                        required: true,                        
                    },                     
                    telefono: {
                        maxlength: 2,
                        required: true,
                        number: true
                    },
                    municipio: {
                        required: true
                    },
                },

                messages: { // custom messages for radio buttons and checkboxes
                	cita:{
                	    required: "Por favor escribe la Dirección",
                	    minlength: 'Por favor, no cumple con la cantidad de letras',                	    
                	},
                    unidad: {
                        required: "Por favor escribe bien su nombre"
                    },                    
                    telefono:{
                	    required: "Por favor, escribe el teléfono",                	    
                	    number: 'Sólo Número'
                	},
                	municipio: {
                        required: "Selecione el Municipio"
                    }, 
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parent(".input-group").size() > 0) {
                        error.insertAfter(element.parent(".input-group"));
                    } else if (element.attr("data-error-container")) { 
                        error.appendTo(element.attr("data-error-container"));
                    } else if (element.parents('.radio-list').size() > 0) { 
                        error.appendTo(element.parents('.radio-list').attr("data-error-container"));
                    } else if (element.parents('.radio-inline').size() > 0) { 
                        error.appendTo(element.parents('.radio-inline').attr("data-error-container"));
                    } else if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else if (element.parents('.checkbox-inline').size() > 0) { 
                        error.appendTo(element.parents('.checkbox-inline').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit   
                    success3.hide();
                    error3.show();
                    Metronic.scrollTo(error3, -200);
                },

                highlight: function (element) { // hightlight error inputs
                   $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success3.show();
                    error3.hide();
                    form[0].submit(); // submit the form
                }

            });

             //apply validation on select2 dropdown value change, this only needed for chosen dropdown integration.
            $('.select2me', form3).change(function () {
                form3.validate().element($(this)); //revalidate the chosen dropdown value and show error or success message for the input
            });


            //initialize datepicker
            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                autoclose: true
            });

            $('.date-picker .form-control').change(function() {
                form3.validate().element($(this)); //revalidate the chosen dropdown value and show error or success message for the input 
            })
    }

   
    return {
        //main function to initiate the module
        init: function () {
            
            handleValidation3();

        }

    };

	}();


    
    </script>

    <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}

