{% extends '::base.html.twig' %}

{% block title %}Gestionar Correo{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/bootstrap-select/bootstrap-select.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/select2/select2.css')}}"/>
   
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}



{% block body %}

  {% include 'PiedraBundle:include:header.html.twig' %}

  <!-- END HEADER -->
  <div class="clearfix"></div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    

  {% include 'PiedraBundle:include:sidebar.html.twig' %}



  <div class="page-content-wrapper">
    <div class="page-content">
      <!-- BEGIN  MODAL Adicionar Departamento-->
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">

        <form role="form" action="{{path('gestionar_correo')}}" method="post" accept-charset="utf-8">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title">Adicionar Correo</h4>
            </div>
            <div class="modal-body">               
                <div class="form-body">

                <div class="form-group form-md-line-input">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Escribe correo">
                    
                  <span class="help-block">Escribe el Correo sin {{ dominio.nombre}}</span>
                </div>

                <div class="form-group form-md-checkboxes">
                  <label>Correo Dirección:</label>
                  <div class="md-checkbox-inline">
                    <div class="md-checkbox ">
                      <input type="checkbox" id="is_direccion" name="is_direccion" class="md-check">
                      <label for="is_direccion">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>
                      Correo de Dirección </label>
                    </div>                   
                  </div>
                </div>


                 
                </div>
                  </br>
               
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn blue">Adicionar</button>
              <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
            </div>
          </div>

          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE HEADER-->
      <!-- BEGIN PAGE HEAD -->
      
      <!-- END PAGE HEAD -->
      
      <!-- END PAGE HEADER-->


      <!-- BEGIN PAGE CONTENT-->
      
      <div class="row">
        <div class="col-md-12">
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                Gestión de los Correos
              </div>
              
            </div>
            <div class="portlet-body">
              <div class="table-toolbar">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group">
                      <a href="#modal" data-toggle="modal" class="btn green">
                      Adicionar Correo <i class="fa fa-plus"></i>
                      </a>
                    </div>
                    <div class="btn-group">
                      <a href="{{path('exportar_correo_admin')}}" data-toggle="modal" class="btn yellow">
                      Exportar Correos Dirección <i class="fa fa-plus"></i>
                      </a>
                      <a href="{{path('exportar_correos')}}" data-toggle="modal" class="btn yellow">
                      Exportar Todos los Correos <i class="fa fa-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-icon">
                    <i class="fa fa-search"></i>
                    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Correo">
                  </div>
                  </div>
                  
                </div>
              </div>
              
            <div class="scroller"  style="height: 350px;">
              <table id="table_email" class="table table-striped table-hover table-bordered dataTable" >
                  <thead>
                  <tr>
                      <th> No. </th>
                      <th> CORREO</th>
                      <td> CORREO DIRECCIÓN
                     
                  </tr>
                  </thead>
                  <tbody>
                      
                      {% for e in emails %}

                        <tr data-id="{{ e.id }}">
                            <td> {{ e.id }}</td>
                            <td> {{ e.email}} </td> 
                            {% if e.isDireccion == true %} 
                              <td>
                                <div class="form-group">
                                  <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                    <input class="checkbox" type="checkbox" data-id="isDireccion" id="{{e.id}}" checked> </label>
                                  </div>
                                </div>
                              </td>                             
                            {% else %}
                              <td>
                                <div class="form-group">
                                  <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                    <input class="checkbox" type="checkbox" data-id="isDireccion" id="{{e.id}}"> </label>
                                  </div>
                                </div>
                              </td>
                            {%endif%} 
                        </tr>     

                      {%endfor%}

                  </tbody>
              </table>  
            </div>
            </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
        </div>
      </div>
      <!-- END PAGE CONTENT -->
    </div>
  </div>

  </div>



{% endblock %}

{% block javascripts %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script  src="{{asset('bundles/piedra/global/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/select2/select2.min.js')}}"></script>
    
    <script  src="{{asset('bundles/piedra/global/plugins/jquery-tabledit/jquery.tabledit.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/jquery.input-ip-address-control-1.0.min.js')}}"></script>



    <script type="text/javascript"> 


    $(".checkbox").change(function(){
      var check = $(this).parent('span').attr('class');
      var id = $(this).attr('id');
      var action = $(this).attr('data-id');     
      
      $.ajax({
        type: 'POST',
        url: "{{path('correo_checkbox_ajax')}}",
        data:{
          'id': id,
          'action': action,
          'check': check
        },success: function(data){
          console.log(data);
        }
      });
    });




      $('#table_email').Tabledit({
        url: '{{path('gestionar_correo')}}',
        editButton: false,       
        editmethod: 'post',
        deletemethod: 'post',
        buttons: {
            delete: {
                class: 'btn btn-sm btn-danger',
                html: '<span class="glyphicon glyphicon-trash"></span> &nbsp ELIMINAR',
                action: 'delete'
            },
            edit: {
            class: 'btn btn-sm btn-primary',
            html: '<span class="glyphicon glyphicon-pencil"></span> &nbsp EDIT',
            action: 'edit'
            },
            save: {
              class: 'btn btn-sm btn-success',
              html: 'Save'
            },
            restore: {
              class: 'btn btn-sm btn-warning',
              html: 'Restore',
              action: 'restore'
            },
            confirm: {
                class: 'btn btn-sm btn-default',
                html: 'CONFIRMAR'
            }
        },

        columns: {
          identifier: [0, 'id'],                    
          editable: [[1, 'email']]
        }, 
      });


      // funcion para filtrar en la tabla
       function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_email");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[1];
              if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
              }
            }
          }

    </script>

    <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}

