<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				

				{% if is_granted('ROLE_ADMIN') %}


				<li class="start ">
					<a href="#">
					<i class="icon-home"></i>
					<span class="title">HOME</span>
					</a>
				</li>
				
				
				</li>
				<!-- END ANGULARJS LINK -->
				<li>
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Gestión Piedra Movida</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						{#<li>
							<a href="{{path('adicionar_departamento')}}">- Departamento</a>
						</li>
						
						<li>
							<a href="{{path('adicionar_pc')}}"> - Pc</a>#}
						</li>
						
						<li>
							<a href="{{path('gestionar_usuario_dominio')}}"> - Usuarios Dominio</a>
						</li>

						<li>
							<a href="{{path('adicionar_documento')}}">- Documento</a>
						</li>

						<li>
							<a href="{{path('adicionar_password_setup')}}"> - Password Setup</a>
						</li>

						<li>
							<a href="{{path('gestionar_telefono')}}"> - Teléfonos </a>
						</li>

							
						
					</ul>
				</li>

				<li>
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Gestión Bajas</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="{{path('inventario_baja')}}"> - Inventario </a>
						</li>	

						<li>
							<a href="{{path('baja_usuario_dominio')}}"> - Usuario Dominio </a>
						</li>					
						
					</ul>
				</li>

				<li>
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Nomencladores</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="{{path('gestionar_usuario_red')}}"> - Usuarios Red</a>
						</li>	
						<li>
							<a href="{{path('gestionar_correo')}}"> - Correos </a>
						</li>	

						<li>
							<a href="{{path('gestionar_cargo')}}"> - Cargos</a>
						</li>										
						
					</ul>
				</li>

				{%endif%}


				{% if is_granted('ROLE_RRHH') %}

				<li>
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Gestión RRHH</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="{{path('gestionar_unidad')}}"> - Entidad</a>
						</li>	
						<li>
							<a href="{{path('adicionar_contrato')}}"> - Adicionar Contrato </a>
						</li>						

						<li>
							<a href="{{path('listado_contrato')}}"> - Listado Contrato </a>
						</li>	
						
					</ul>
				</li>

				{% endif%}

				{% if is_granted('ROLE_INFORMATICA') %}

				<li>
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Gestión INFORMÁTICA</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						
						<li>
							<a href="{{path('mastro_general')}}"> - Maestros Generales </a>
						</li>	

						<li>
							<a href="{{path('equipo')}}"> - Inventario Equipo </a>
						</li>				

							
						
					</ul>
				</li>

				{% endif%}


				
				
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>