{% extends '::base.html.twig' %}

{% block title %} Inventario {% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/bootstrap-select/bootstrap-select.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/select2/select2.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/jquery-multi-select/css/multi-select.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/jquery-confirm-v3.3.0/css/jquery-confirm.css')}}"/>

    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/css/SpinKit/css/spinkit.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/piedra/global/plugins/bootstrap-datepicker/css/datepicker3.css')}}"/>
   
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}



{% block body %}

  {% include 'PiedraBundle:include:header.html.twig' %}

  <!-- END HEADER -->
  <div class="clearfix"></div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    

  {% include 'PiedraBundle:include:sidebar.html.twig' %}



  <div class="page-content-wrapper">
    <div class="page-content">
      <!-- BEGIN PAGE CONTENT-->     

      <div class="modal fade" id="modal_inventario" tabindex="-1" >
          <div class="modal-dialog modal-full">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                
                <h4 class="modal-title" id="h4_title_inventario"> </h4>
              </div>
              <div class="modal-body" id="modal-body-inventario-equipo">    

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" id="add_parte_pieza"> Adicionar Parte y Piezas </button>
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
                <!-- /.modal-dialog -->
      </div> 
     

      <div class="modal fade" id="modal_exportar_inventario" tabindex="-1" >
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>                
                
                <h4 class="modal-title"> Exportar Inventario </h4>
              </div>
              <div class="modal-body">    

                <div class="row">
                  <div class="col-md-12 ">
                    <select class="form-control select2me" name="exportar_local" id="exportar_local">
                    <option value="">Todos los Locales</option>                    
                      {% for local in locales %}
                        <option value="{{local.id}}"> {{ local.local }}</option>
                      {% endfor %}
                    </select>
                  

                    <select class="form-control select2me" disabled="disabled" sname="exportar_responsable" id="exportar_responsable">
                        <option value="">Todos los Responsables</option>
                    </select>
              

                    <select class="form-control select2me disabled" disabled="disabled" name="exportar_equipo" id="exportar_equipo">
                        <option value="">Todos los Equipo</option>
                    </select>
                
                  </div> 

                  <div class="col-md-12 "> 
                  </br>    

                    <div class="clearfix">
                        <div class="btn-group" data-toggle="buttons" id="radio_exportar">
                          <label class="btn blue active" data-id="doc">
                          <input type="radio" class="toggle"> <i class="fa fa-file-word-o"> </i> Word </label>
                          <label class="btn blue" data-id="pdf">
                          <input type="radio" class="toggle"> <i class="fa fa-file-pdf-o"> </i> PDF </label>
                          <label class="btn blue" data-id="xlsx">
                          <input type="radio" class="toggle"> <i class="fa fa-file-excel-o"> </i> Excel </label>
                          <label class="btn blue" data-id="print">
                          <input type="radio" class="toggle"> <i class="fa fa-print"> </i> Imprimir </label>
                        </div>
                    </div> 
                  </div>              
                  

               
              </div>

              </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-sm btn-success" id="exportar_inventario"> Exportar Inventario </a>
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
                <!-- /.modal-dialog -->
      </div>


       <div id="modal_movimiento_pieza" class="modal fade" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title" id="h4_modal_movimiento_pieza" > Movimiento de Pieza</h4>
              </div>
              <div class="modal-body" id="modal-body-movimiento-pieza">


              <div class="row" id="div_movimiento_pieza">
                  <div class="col-md-6">

                    <input type="text" placeholder="Selecione la fecha" class="form-control date-picker" id="movimiento_fecha" name="movimiento_fecha"/>

                    <div class="portlet green-meadow box">
                          <div class="portlet-title">
                            <div class="caption">
                              EQUIPO ORIGEN
                            </div>                            
                          </div>
                          <div class="portlet-body">
                            <div class="row static-info">
                              <div class="col-md-12 value" id="origen_equipo" data-id="">
                                 ...
                              </div>
                            </div>
                          </div>
                    </div>
                    
                  </div>

                   <div class="col-md-6">

                     <select class="form-control select2me" data-placeholder="Selecione Equipo..." name="select_destio_equipos" id="select_destio_equipos"> </select> <br>

                    <div class="portlet green-meadow box">
                          <div class="portlet-title">
                            <div class="caption">
                              EQUIPO DESTINO
                            </div>                            
                          </div>
                          <div class="portlet-body">
                            <div class="row static-info">
                              <div class="col-md-12 value" id="destino_equipo">
                                 ...
                              </div>
                            </div>
                          </div>
                    </div>
                    
                  </div>

              </div>
            </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-primary" id="movimiento_pieza">Hacer Movimiento Pieza</a>
                <a type="button" class="btn btn-primary" id="movimiento_equipo">Hacer Movimineto Equipo</a>
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
                <!-- /.modal-dialog -->
      </div>

      <!-- Modal Adicionar mas partes y piezas -->
      <div id="modal_add_pieza" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title" > Selecionae la/s Pieza/s | COMPUTADORA: <span class="span_equipo"> </span> </h4>
              </div>
              <div class="modal-body" id="modal-body-add-pieza" data-id="">  

             
                <select multiple="multiple" class="multi-select" id="select_piezas_faltantes" name="select_piezas_faltantes[]">  </select>
                    

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="add_mas_parte_pieza">Adicionar pieza</button>
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
                <!-- /.modal-dialog -->
      </div>

      <div class="row">
         <div class="col-md-12 col-sm-12">
          <!-- BEGIN PORTLET-->
          <div class="portlet light ">
            <div class="portlet-title">
              <div class="caption caption-md">
                <i class="icon-plus"></i>
                <span class="caption-subject theme-font-color bold uppercase">ADICIONAR </span>
                <span class="caption-helper">Equipo</span>
              </div>

              <div class="tools">
                <a class="expand" href="javascript:;" data-original-title="" title=""></a>
                                
                </div>
             
            </div>
            <div class="portlet-body">
              
                <div class="form-group col-md-6 col-sm-12">
                    <label class="control-label">Tipo Equipo <span class="required">
                    * </span>
                    </label>
                    
                      <select class="form-control select2me" name="tipo_equipo" id="tipo_equipo">
                        <option value="">Selecione el Equipo</option>
                        
                        {% for tipo in tipo_equipos %}
                          <option data-id="{{tipo.id}}" value="{{tipo.id}}"> {{ tipo.tipoEquipo }}</option>
                        {% endfor %}
                      </select>
                   
                  </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label class="control-label">Ubicación <span class="required">
                    * </span>
                    </label>
                    
                      <select class="form-control select2me" name="responsable" id="responsable">
                        <option value="">Selecione el Responsable</option>

                        {% for u in ubicacion %}
                          <optgroup label=" {{ u.local }} ">
                          {% for r in u.responsables %}
                            <option value="{{r.id}}"> {{ r.responsable }}</option>
                          {% endfor %}                      
                        {% endfor %}                        
                      </select>                   
                </div>

                <div class="form-group form-md-checkboxes" id="pp">
                  <label>Seleccione las Partes y Piezas </label>
                  <div class="md-checkbox-inline">
                      {% for pieza in piezas %} 


                        <div class="md-checkbox">
                          <input class="checkbox" type="checkbox" name="{{ pieza.id }}" id="{{ pieza.id }}" value="{{ pieza.id }}" />
                          <label for="{{ pieza.id }}">{{ pieza.pieza }}</label>
                        </div>
                        

                      {% endfor %}
                  </div>

                </div>

                <div class="modal-footer">
                <a id="add_equipo" class="btn btn-primary">Adicionar</a>            
                <a id="cancel_equipo" class="btn default">Cancelar</a>
                </div>
            
              
            </div>

            

          </div>
          <!-- END PORTLET-->
        </div>

        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
              <div class="portlet-title">
                <div class="caption caption-md">
                  <i class="icon-list"></i>
                  <span class="caption-subject theme-font-color bold uppercase">LISTADO </span>
                  <span class="caption-helper">Inventario</span>
                </div>
                <div class="btn-group" style="margin-left: 25px;">
                  <a href="#modal_exportar_inventario" data-toggle="modal" class="btn default">
                  
                      Exportar Inventario <i class="fa fa-file-pdf-o"></i>
                      </a>
                    </div>

                <div class="actions">
                 
                  <div class="input-icon">
                    <i class="fa fa-search"></i>
                    <input class="form-control" type="text" id="myInput" placeholder="Buscar...">
                  </div>
                </div>
                
              </div>
              <div class="portlet-body">
                
                <div style="height: 350px;" class="dropdown-menu-list scroller">
                  <table id="table_equipo" class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr class="uppercase " >
                      <th> ID </th>
                      <th >
                         CATEGORIA
                      </th>
                      <th>
                         UBICACIÓN
                      </th>
                      <th>
                         RESPONSABLE 
                      </th>
                      <th>
                         ESTADO EQP.
                      </th>
                      <th>
                         MEDIO BÁSICO
                      </th>  
                      <th>
                         NO. SUBMAYOR
                      </th> 
                      <th>
                         NOMBRE EQUIPO
                      </th>
                      <th>
                         SELLO
                      </th>
                      <th>
                         OBSERVACIÓN
                      </th>

                      <th width="110px;">.............</th>                    
                    </tr>
                    </thead>

                    <tbody id="tbody_equipo">

                      {% for equipo in equipos %}

                      <tr class="tr">
                        <td> {{ equipo.id }} </td>
                        <td> {{ equipo.tipoEquipo }} </td>
                        <td> {{ equipo.responsable.local }} </td>
                        <td> {{ equipo.responsable }}</td>
                        <td> {{ equipo.estadoEquipo.estado }} </td>
                        <td> {{ equipo.medioBasico }} </td>
                        <td> {{ equipo.noSubmayor }} </td>
                        <td> {{ equipo.nombreEquipo }} </td> 
                        <td> {{ equipo.sello }} </td> 
                        <td> {{ equipo.observacion }} </td> 
                        <td> 
                          <div class="btn-group btn-group-solid">
                          <button type="button" id="modal_inventario" class="modal_inventario btn btn-sm btn-success" data-name="{{ equipo.tipoEquipo.isPc ? 'YES':'NO' }}" data-id="{{ equipo.id }}" > <i class="fa fa-th-list "> </i>  </button> 
                          </button> <button type="button" class="modal_movimiento_equipo btn btn-sm btn-success" data-id="{{ equipo.id }}" > Mov.  </button>
                          </div>
                        </td>                     
                      </tr>

                    {%endfor%}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- END PORTLET-->
        </div>
      </div>
      <!-- END PAGE CONTENT -->
    </div>
  </div>

  </div>



{% endblock %}

{% block javascripts %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script  src="{{asset('bundles/piedra/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/select2/select2.min.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/jquery-multi-select/js/jquery.multi-select.js')}}"></script>

    <script  src="{{asset('bundles/piedra/global/plugins/jquery-confirm-v3.3.0/js/jquery-confirm.js')}}"></script>

    
    <script  src="{{asset('bundles/piedra/global/plugins/jquery-tabledit/jquery.tabledit2.js')}}"></script>

    <!-- JSPDF -->
    <script  src="{{asset('bundles/piedra/global/plugins/jsPDF-1.3.2/dist/jspdf.min.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/jsPDF-1.3.2/libs/html2pdf.js')}}"></script>
    <script  src="{{asset('bundles/piedra/global/plugins/jsPDF-1.3.2/libs/jspdf-autotable.js')}}"></script>


    <script type="text/javascript">


    $(document).ready(function(){

      
      $("#tipo_equipo").live('change', function(){

        if ($(this).val() == 1){
          $('#pp').removeClass('hidden');
        }else{
          $('#pp').addClass('hidden');
        }
      });

      $("#exportar_local").live('change', function(){

          id_local = $(this).val();  

          if(id_local != ''){

              $("#exportar_responsable").attr('disabled','disabled'); 
              $("#exportar_responsable").empty();
              $("#exportar_inventario").addClass('disabled');

              $.post('{{path('exportar_inventario')}}', { 'action': 'cargar_responsable', 'id_local': id_local })
              .done(function (responsables) { 

                $("#exportar_responsable").append("<option value=''> Todos los Responsables </option>");

                for (var i= 0 ; i < responsables.length; i++) {
                     $("#exportar_responsable").append("<option value='"+responsables[i]['id']+"'> "+responsables[i]['responsable']+"</option>");
                } 

                $("#exportar_responsable").removeAttr('disabled'); 
                $("#exportar_inventario").removeClass('disabled');         

                        
              }).fail(function () { 

                alerta_error();
                $("#exportar_inventario").removeClass('disabled');  

              });
          }    
          
               

      });

      $("#exportar_responsable").live('change', function(){

          id_responsable = $(this).val(); 
          id_local = $("#exportar_local").val(); 

          if(id_responsable != ''){     
          
          $("#exportar_equipo").attr('disabled','disabled'); 
          $("#exportar_equipo").empty();
          $("#exportar_inventario").addClass('disabled');

            $.post('{{path('exportar_inventario')}}', { 'action': 'cargar_equipos', 'id_responsable': id_responsable })
            .done(function (equipos) { 

              $("#exportar_equipo").append("<option value=''> Todos los Equipos </option>");

              for (var i= 0 ; i < equipos.length; i++) {
                   $("#exportar_equipo").append("<option value='"+equipos[i]['id']+"'> "+equipos[i]['equipo']+"</option>");
              }

              $("#exportar_equipo").removeAttr('disabled');           
              $("#exportar_inventario").removeClass('disabled');          

                      
            }).fail(function () { 
               $("#exportar_inventario").removeClass('disabled');  
              alerta_error();
             
            }); 
          }else{

            $("#exportar_equipo").attr('disabled','disabled'); 
            $("#exportar_equipo").empty();
            $("#exportar_inventario").addClass('disabled');

            $.post('{{path('exportar_inventario')}}', { 'action': 'cargar_equipos', 'id_responsable': id_responsable, 'id_local': id_local })
            .done(function (equipos) { 

              $("#exportar_equipo").append("<option value=''> Selecione el Equipo </option>");

              for (var i= 0 ; i < equipos.length; i++) {
                   $("#exportar_equipo").append("<option value='"+equipos[i]['id']+"'> "+equipos[i]['equipo']+"</option>");
              }

              $("#exportar_equipo").removeAttr('disabled');           
              $("#exportar_inventario").removeClass('disabled');          

                      
            }).fail(function () {
              $("#exportar_inventario").removeClass('disabled'); 
              alerta_error(); 
              
            }); 

          }    

      });

      $("#exportar_inventario").live('click', function(){

          id_local = $("#exportar_local").val();
          id_responsable = $("#exportar_responsable").val(); 
          id_equipo = $("#exportar_equipo").val();         
          formato = $("label.active").attr('data-id');

          $("#exportar_inventario").addClass('disabled');
          $("#exportar_equipo").attr('disabled','disabled');
          $("#exportar_local").attr('disabled','disabled');
          $("#exportar_responsable").attr('disabled','disabled');
          
          
          $.post('{{path('exportar_inventario')}}', { 'action': 'exportar', 'id_local': id_local, 'id_responsable': id_responsable, 'id_equipo': id_equipo, 'formato': formato })
          .done(function (d) { 

            $("#exportar_inventario").removeClass('disabled');
            $("#exportar_equipo").removeAttr('disabled');
            $("#exportar_local").removeAttr('disabled');
            $("#exportar_responsable").removeAttr('disabled');

            if (d == 'doc'){

              window.location = "{{asset('uploads/temp/informatica/INVENTARIO_DE_EQUIPOS.docx')}}"
            }else {              

               demoTwoPageDocument(d);
             
            }
   
            
                    
          }).fail(function () {
            $("#exportar_inventario").removeClass('disabled'); 
            alerta_error();  

          });     

      });


      function demoTwoPageDocument(datos) {


                var pdf = new jsPDF('l', 'pt'); 
                var totalPagesExp = "{total_pages_count_string}";
               

               var pageContent = function (data) {

                    // HEADER
                    pdf.setFontSize(14);
                    pdf.setTextColor(40);
                    
                    pdf.text("REPORTE INVENTARIO EQUIPOS - "+datos['local']+""+ datos['tipo_equipo'], data.settings.margin.left + 5, 25);

                    // FOOTER
                    var str = "Página " + data.pageCount;
                    // Total page number plugin only available in jspdf v1.0+
                    if (typeof pdf.putTotalPages === 'function') {
                        str = str + " - " + totalPagesExp;
                    }
                    pdf.setFontSize(7);
                    pdf.text(str, data.settings.margin.left, pdf.internal.pageSize.height - 10);
                };
                                        
                var columns = ["Equipo", "UBICACIÓN", "RESPONSABLE", "ESTADO", "MEDIO BÁSICO", "NO. SUBMAYOR", "NOMBRE EQUIPO", "SELLO", "OBSERVACIÓN"];

                pdf.autoTable(columns, datos['equipos'] , {
                    
                    theme: 'striped',                    
                    addPageContent: pageContent, 
                   
                    styles: {
                      cellPadding: 5, // a number, array or object (see margin below)
                      fontSize: 8,
                      font: "arial", // helvetica, times, courier
                      lineWidth: 0.1,
                      fontStyle: 'normal', // normal, bold, italic, bolditalic
                      overflow: 'linebreak', // visible, hidden, ellipsize or linebreak                      
                      textColor: 0,
                      halign: 'left', // left, center, right
                      valign: 'middle', // top, middle, bottom
                      
                    },                   
                    margin: 36, // a number, array or object                
                    tableWidth: 'wrap', // 'auto', 'wrap' or a number,  

                    headerStyles: {
                        fillColor: 230,
                        fontSize: 8,
                        fontStyle: 'bold',
                        halign: 'center',
                        font: "arial", // helvetica, times, courier

                    },          
                    columnStyles: {
                          0: {columnWidth: 80},
                          1: {columnWidth: 80},
                          2: {columnWidth: 120},
                          3: {columnWidth: 60},
                          4: {columnWidth: 80},
                          5: {columnWidth: 70},
                          6: {columnWidth: 100},
                          7: {columnWidth: 40},  
                          font: "arial"                        
                    }                                     
                });
                  pdf.putTotalPages(totalPagesExp); 

                  if(datos['formato'] == 'print'){
                      pdf.autoPrint();
                      pdf.output("dataurlnewwindow");
                  }else if(datos['formato'] == 'pdf'){                                            
                      pdf.save('INVENTARIO_DE_EQUIPOS.pdf');
                    }
                }

     

    $("#add_equipo").bind('click', function(){

      var id_tipo_equipo = $("#tipo_equipo").val();
      var id_responsable = $("#responsable").val();
      var piezas = [];

      if (id_tipo_equipo == 1){
           $("input:checkbox:checked").each(function() {
             piezas.push($(this).val());
        });    
      }
    

      if (id_tipo_equipo != '' && id_responsable != ''){

        cargando();

      $.post('{{path('inventario_equipo')}}', { 'action': 'add_equipo', 'id_tipo_equipo' : id_tipo_equipo , 'id_responsable' : id_responsable , 'piezas': piezas  })
          .done(function (d) {  

            $("#tbody_equipo").append('<tr class="tr"> <td> '+d['id']+' </td><td> '+d['categoria']+'</td><td> '+d['ubicacion']+' </td><td> '+d['responsable']+' </td><td> '+d['estado']+' </td><td> '+d['medio_basico']+' </td><td> '+d['no_submayor']+' </td><td> '+d['nombre_equipo']+'</td><td> '+d['sello']+' </td><td> '+d['observacion']+'</td><td> <div class="btn-group btn-group-solid"> <button type="button" id="modal_inventario" class="modal_inventario btn btn-sm btn-success" data-name="'+d['isPc']+'" data-id="'+d['id']+'" > <i class="fa fa-th-list  "> </i>  </button> <button type="button" class="modal_movimiento_equipo btn btn-sm btn-success" data-id="'+d['id']+'" > Mov.  </button> </div></td> </tr>');

            $('#table_equipo').data('Tabledit').reload();        

            cancelar();

          }).fail(function () { 

            alerta_error();  

          });

      }else{
        //mostrar mensaje campos vacios
        alerta_campos_vacios();

      }

    });

    function cargando(){
        //btn add
        $("#add_equipo").text('Guardando...');
        $("#add_equipo").addClass('disabled');
        //btn cancel
        $("#cancel_equipo").addClass('disabled');

        $('#tipo_equipo').select2("enable",false)
        $('#responsable').select2("enable",false)

        $("#tipo_equipo").addClass('disabled');
        $("#responsable").addClass('disabled');
        $('span').parents('div.checker').addClass('disabled');
        
    } 

    function cancelar(){
        //btn add
        $("#add_equipo").text('Adicionar');
        $("#add_equipo").removeClass('disabled');
        //btn cancel
        $("#cancel_equipo").removeClass('disabled');

        $('#tipo_equipo').select2("enable",true)
        $('#responsable').select2("enable",true)

        $("#tipo_equipo").removeClass('disabled');
        $("#responsable").removeClass('disabled');
        $('span').parents('div.checker').removeClass('disabled');  
      //  $('div.checker').find('span').removeClass('checked');      
    } 

    function cargar_tabledit_inventario(id_equipo, estados){
       $('#table_inventario_'+id_equipo).Tabledit({
        url: '{{path('inventario_pieza_equipo')}}',
        editButton: false,       
        editmethod: 'post',
        deletemethod: 'post',
        buttons: {
            delete: {
                class: 'btn btn-sm btn-danger',
                html: '<span class="glyphicon glyphicon-trash"></span>',
                action: 'delete'
            },
            edit: {
            class: 'btn btn-sm btn-primary',
            html: '<span class="glyphicon glyphicon-pencil"></span> &nbsp EDIT',
            action: 'edit'
            },
            save: {
              class: 'btn btn-sm btn-success',
              html: 'Save'
            },
            restore: {
              class: 'btn btn-sm btn-warning',
              html: 'Restore',
              action: 'restore'
            },
            confirm: {
                class: 'btn btn-sm btn-default',
                html: 'OK'
            }
        },

        columns: {
          identifier: [0, 'id'],                    
          editable: [ [2, 'marca'], [3, 'modelo'], [4, 'ctecnica'], [5, 'serial'], [6, 'estado', estados ], [7, 'observacion'] ]
        }, 
      });
    }

      $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                orientation: "left",
                autoclose: true,
                format: 'dd-mm-yyyy',
            });


      //variables globales
      var global_equipos = '';
      var estados = '{"1": "OK","2": "Roto","3": "Defectuoso","4": "Problema Técnicos"}';

    //  console.log(estados);

      $cargando = '<div id="cargando" class="sk-three-bounce"><div class="sk-child sk-bounce1"></div> <div class="sk-child sk-bounce2"></div> <div class="sk-child sk-bounce3"></div> </div>';

     $('#table_equipo').Tabledit({
        url: '{{path('inventario_equipo')}}',
        editButton: false,       
        editmethod: 'post',
        deletemethod: 'post',
        buttons: {
            delete: {
                class: 'btn btn-sm btn-danger',
                html: '<span class="glyphicon glyphicon-trash"></span>',
                action: 'delete'
            },
            edit: {
            class: 'btn btn-sm btn-primary',
            html: '<span class="glyphicon glyphicon-pencil"></span> &nbsp EDIT',
            action: 'edit'
            },
            save: {
              class: 'btn btn-sm btn-success',
              html: 'Save'
            },
            restore: {
              class: 'btn btn-sm btn-warning',
              html: 'Restore',
              action: 'restore'
            },
            confirm: {
                class: 'btn btn-sm btn-default',
                html: 'OK'
            }
        },

        columns: {
          identifier: [0, 'id'],                    
          editable: [[4, 'estado', estados ],[5, 'medio_basico'], [6, 'no_submayor'], [7, 'nombre_equipo'], [8, 'sello'], [9, 'observacion']]
        }, 
      });


      $(".modal_inventario").live("click",function(){ 
      

        id_equipo = $(this).attr('data-id');
        var is_table = $("table#table_inventario_"+id_equipo);    


        //solo a las pc se le permiten adicionar mas piezas
        if($(this).attr('data-name') == 'YES' ){
          $('#add_parte_pieza').removeClass('hidden');          
          $('#add_parte_pieza').addClass('disabled');

          if($('#add_parte_pieza').attr('data-id') == id_equipo ){
             $('#add_parte_pieza').removeClass('disabled'); 
          }

          $('#add_parte_pieza').attr('data-id', id_equipo );          
        }else{
          $('#add_parte_pieza').addClass('hidden');
        }

        if (is_table.length == 0){

          $("#modal-body-inventario-equipo").empty(); 
          $('#h4_title_inventario').text('');
          $("#modal-body-inventario-equipo").append($cargando);
          $("#table_inventario").attr('hidden','hidden');
          $("#modal_inventario").modal('show');
            //cargar inventario
            inventario_pieza_equipo(id_equipo)
        } else {
          $("#modal_inventario").modal('show');
        }

      });

      //cargar las piezas del equipo
      function inventario_pieza_equipo(id_equipo){
        $.post('{{path('inventario_pieza_equipo')}}', { 'action': 'cargar_piezas', 'id_equipo' : id_equipo })
            .done(function (datos) {  
             

              $('#h4_title_inventario').text('Tipo Equipo: '+datos['pieza'][0].tipoEquipo+' | Nombre Equipo: '+datos['pieza'][0].nombreEquipo+ ' | RESPONSABLE: '+datos['pieza'][0].responsable);

              table = '<table id="table_inventario_'+id_equipo+'" class="table table-striped table-hover table-bordered"><thead><tr class="uppercase"><th> ID </th><th > PIEZA </th><th> MARCA</th><th> MODELO </th><th> CTECNICA</th><th> SERIAL</th><th> ESTADO </th><th> OBSERVACION</th><th> MOVIMIENTO </th></tr></thead><tbody id="tbody_inventario">';

                       

              for ( var i = 0 ; i < datos['pieza'].length; i++) {
                  table +='<tr>'+
                          '<td>'+ datos['pieza'][i]['id'] +'</td>'+
                          '<td>'+ datos['pieza'][i]['pieza'] +'</td>'+
                          '<td>'+ datos['pieza'][i]['marca'] +'</td>'+
                          '<td>'+ datos['pieza'][i]['modelo'] +'</td>'+
                          '<td>'+ datos['pieza'][i]['ctecnica'] +'</td>'+
                          '<td>'+ datos['pieza'][i]['serial'] +'</td>'+
                          '<td>'+ datos['pieza'][i]['estado'] +'</td>'+
                          '<td>'+ datos['pieza'][i]['observacion'] +'</td>';

                    if (datos['pieza'][i]['isPc'] == true ){
                      table += '<td> <button type="button" class="modal_movimiento_pieza btn btn-sm btn-success" data-id="'+datos['pieza'][i]['id']+'" > Movimiento  </button> </td> </tr>'; 
                    }else{
                      table += '<td> </td> </tr>'; 
                    }
                                       
              }

               table += '</tbody></table>';

              $(".sk-three-bounce").remove();
              $("#modal-body-inventario-equipo").empty();
              $("#modal-body-inventario-equipo").append(table);
              $('#add_parte_pieza').removeClass('disabled');
              cargar_tabledit_inventario(id_equipo, datos['estado']); 

          }).fail(function () {
                //exite error
                alerta_error();
            });
      }


      $(".modal_movimiento_equipo").live('click', function(){

        id_equipo = $(this).attr('data-id');
        $("#modal-body-movimiento-pieza").append($cargando);
        $("#origen_equipo").empty();
        $("#select_destio_equipos").empty();
        $("#div_movimiento_pieza").addClass('hidden');

        $("#movimiento_pieza").addClass('hidden');
        $("#movimiento_equipo").removeClass('hidden');

        $("#movimiento_equipo").addClass('disabled');        
        $("#modal_movimiento_pieza").modal('show');

        $("#h4_modal_movimiento_pieza").text('Movimiento de Equipo');


        $.post('{{path('gestionar_movimiento')}}', { 'action': 'cargar_responsable', 'id_equipo' : id_equipo })
            .done(function (datos) { 

              global_equipos = datos['responsables'];
              $(".sk-three-bounce").remove();
              $("#movimiento_equipo").removeClass('disabled');
              $("#origen_equipo").attr('data-id', datos['equipo']['id'] );
              $("#origen_equipo").attr('data-name', datos['equipo']['tipoEquipo'] );

              $("#origen_equipo").append(
                                    'EQUIPO: '+datos['equipo']['tipoEquipo']+'<br>'+                                    
                                    'UBICACION: '+datos['equipo']['local']+'<br>'+
                                    'RESPONSABLE: '+datos['equipo']['responsable']+'<br>'+
                                    'ESTADO: '+datos['equipo']['estado']+'<br>'+
                                    'MEDIO BÁSICO: '+datos['equipo']['medioBasico']+'<br>'+
                                    'No. SUBMAYOR: '+datos['equipo']['noSubmayor']+'<br>'+
                                    'NOMBRE EQUIPO: '+datos['equipo']['nombreEquipo']+'<br>'+
                                    'SELLO: '+datos['equipo']['sello']+'<br>'+
                                    'OBSERVACIÓN: '+datos['equipo']['observacion']+'<br>'
                                  );

              $("#select_destio_equipos").append("<option value='' > </option>");

              for (var i = 0 ; i < datos['responsables'].length; i++) {
                  $("#select_destio_equipos").append("<option value='"+datos['responsables'][i]['id']+"'>"+datos['responsables'][i]['local']+" - "+datos['responsables'][i]['responsable']+"</option>");
              }                 


              $("#div_movimiento_pieza").removeClass('hidden');                             
                                 
              

            }).fail(function () {
                //exite error
                alerta_error();
            }); 



      });

      //levantar modal de movimiento pieza
      $(".modal_movimiento_pieza").live("click",function(){ 
    
        id_pieza = $(this).attr('data-id'); 
        $("#h4_modal_movimiento_pieza").text('Movimiento de Pieza');
        $("#modal-body-movimiento-pieza").append($cargando);
        $("#origen_equipo").empty();
        $("#select_destio_equipos").empty();
        $("#div_movimiento_pieza").addClass('hidden');

        $("#movimiento_equipo").addClass('hidden');
        $("#movimiento_pieza").removeClass('hidden');

        $("#movimiento_pieza").addClass('disabled');        
        $("#modal_movimiento_pieza").modal('show');

        $.post('{{path('gestionar_movimiento')}}', { 'action': 'cargar_equipo', 'id_pieza' : id_pieza })
            .done(function (datos) { 

              global_equipos = datos['equipos'];
              $(".sk-three-bounce").remove();

              $("#movimiento_pieza").removeClass('disabled');
              $("#origen_equipo").attr('data-id', id_pieza );
              $("#origen_equipo").attr('data-name', datos['pieza']);
              $("#origen_equipo").append(
                                    'EQUIPO: '+datos['equipo']['nombreEquipo']+'<br>'+
                                    'TIPO PIEZA: '+datos['pieza']+'<br>'+
                                    'UBICACION: '+datos['equipo']['local']+'<br>'+
                                    'RESPONSABLE: '+datos['equipo']['responsable']+'<br>'+
                                    'ESTADO: '+datos['equipo']['estado']+'<br>'+
                                    'MEDIO BÁSICO: '+datos['equipo']['medioBasico']+'<br>'+
                                    'No. SUBMAYOR: '+datos['equipo']['noSubmayor']+'<br>'+
                                    'NOMBRE EQUIPO: '+datos['equipo']['nombreEquipo']+'<br>'+
                                    'SELLO: '+datos['equipo']['sello']+'<br>'+
                                    'OBSERVACIÓN: '+datos['equipo']['observacion']+'<br>'
                                  );

              $("#select_destio_equipos").append("<option value='' > </option>");

              for (var i = 0 ; i < datos['equipos'].length; i++) {
                  $("#select_destio_equipos").append("<option value='"+datos['equipos'][i]['id']+"'>"+datos['equipos'][i]['nombreEquipo']+" - "+datos['equipos'][i]['responsable']+"</option>");
              }                 


              $("#div_movimiento_pieza").removeClass('hidden');                             
                                 
              

            }).fail(function () {
                //exite error
                alerta_error();
                $(".sk-three-bounce").remove();
            });       

      });

      //cargar datos del select
      $("#select_destio_equipos").live('change', function(){
          id_equipo = $(this).val();
          $("#destino_equipo").empty();         

          for (var i = 0 ; i < global_equipos.length; i++) {
             if (global_equipos[i]['id'] == id_equipo ){

              if(global_equipos[0]['responsable']){

                $("#destino_equipo").append(                                                                     
                                    'UBICACION: '+global_equipos[i]['local']+'<br>'+
                                    'RESPONSABLE: '+global_equipos[i]['responsable']+'<br>'+
                                    'CARGO: '+global_equipos[i]['cargo']+'<br>'
                                  );

              }else{

                $("#destino_equipo").append(
                                    'EQUIPO: '+global_equipos[i]['nombreEquipo']+'<br>'+                                   
                                    'UBICACION: '+global_equipos[i]['local']+'<br>'+
                                    'RESPONSABLE: '+global_equipos[i]['responsable']+'<br>'+
                                    'ESTADO: '+global_equipos[i]['estado']+'<br>'+
                                    'MEDIO BÁSICO: '+global_equipos[i]['medioBasico']+'<br>'+
                                    'No. SUBMAYOR: '+global_equipos[i]['noSubmayor']+'<br>'+
                                    'NOMBRE EQUIPO: '+global_equipos[i]['nombreEquipo']+'<br>'+
                                    'SELLO: '+global_equipos[i]['sello']+'<br>'+
                                    'OBSERVACIÓN: '+global_equipos[i]['observacion']+'<br>'
                                  );

              }
              




             }
           } 

      });




      //levantar modal para dicionar mas piezas
      $("#add_parte_pieza").live("click",function(){ 
    
            id_equipo = $(this).attr('data-id'); 


          if( $("#modal-body-add-pieza").attr('data-id') != id_equipo ){            
            
            $("#modal-body-add-pieza").append($cargando);
            $("#select_piezas_faltantes").addClass('hidden'); 
            $("#ms-select_piezas_faltantes").addClass('hidden'); 
            
            $("#modal_add_pieza").modal('show');

            $.post('{{path('add_pieza_equipo')}}', { 'action': 'cargar_piezas', 'id_equipo' : id_equipo })
                .done(function (datos) {               

                  $('.span_equipo').text(datos['equipo']);


                  for ( var i = 0 ; i < datos['pieza'].length; i++) {                
                        $("#select_piezas_faltantes").append("<option value='"+datos['pieza'][i]['id']+"'>"+datos['pieza'][i]['pieza']+"</option>");                        
                  }

                  $("#cargando").remove();
                  $("#select_piezas_faltantes").multiSelect(); 
                  $("#select_piezas_faltantes").removeClass('hidden'); 
                  $("#ms-select_piezas_faltantes").removeClass('hidden'); 
                  $("#modal-body-add-pieza").attr('data-id', id_equipo);
                  $("#add_mas_parte_pieza").attr('data-id', id_equipo);

            }).fail(function () {
                //exite error
                alerta_error();
                $(".sk-three-bounce").remove();
            });

          }else{
            $("#modal_add_pieza").modal('show');

          }
      });

      //adicionar mas piezas
      $("#add_mas_parte_pieza").on("click",function(){ 

        var id_equipo = $(this).attr('data-id');
        var piezas = $("#select_piezas_faltantes").val();
        if (piezas!=  null ){

            $.post('{{path('add_pieza_equipo')}}', { 'action': 'add_pieza', 'id_equipo' : id_equipo , 'piezas': piezas })
                .done(function (datos) {

                $("#modal-body-inventario-equipo").empty(); 
                $("#modal-body-inventario-equipo").append($cargando);

                //cargar inventario del equipo  
                inventario_pieza_equipo(id_equipo);  

            }).fail(function () {
                //exite error
                alerta_error();
            });
        }else{

          $.alert({
              title: 'Mensaje',
              content: 'Selecion al menos una pieza para adicionar!',
              type: 'blue',
              animation: 'scale',
              draggable: true,
          });
           
        }

      });

      //movimiento de la pieza
      $("#movimiento_pieza").live('click', function(){

        id_pieza = $('#origen_equipo').attr('data-id');
        pieza = $('#origen_equipo').attr('data-name');
        id_equipo_destino = $('#select_destio_equipos').val();
        
        fecha = $("#movimiento_fecha").val();

        if (id_pieza!='' && id_equipo_destino != '' && fecha != ''){

             $.confirm({
                    title: 'Movimiento Pieza!',
                    content: 'Seguro desea hacer el movimiento de la/el '+pieza,
                    icon: 'fa fa-question-circle',
                    animation: 'scale',
                    closeAnimation: 'scale',
                    opacity: 0.5,
                    buttons: {
                        'confirm': {
                            text: 'Hacer Movimineto Pieza',
                            btnClass: 'btn-blue',
                            action: function () {

                              $("#modal_movimiento_pieza").modal('hide');                   

                             $.post('{{path('gestionar_movimiento')}}', { 'action': 'movimiento_pieza', 'id_pieza': id_pieza , 'id_equipo_destino' : id_equipo_destino, 'fecha': fecha })
                                        .done(function (d) {  
                                          if (d == true){
                                            $.alert({
                                                title: 'Mensaje',
                                                content: 'Se realizó corectamente el movimiento de la/el '+pieza,
                                                type: 'blue',
                                                animation: 'scale',
                                                draggable: true,
                                            });
                                          }
                                          $("#modal-body-inventario-equipo").html('');
                                          $("#modal-body-inventario-equipo").append($cargando);
                                          inventario_pieza_equipo(id_equipo_destino);  
                                        }).fail(function () {
                                          alerta_error();
                                      });
                                
                            }
                        },
                        cancel: function () {
                            $.alert('Movimiento Cancelado!');
                        }
                       }
                        });


        }else{
            alerta_campos_vacios();
        }
      });

     


      //movimiento del equipo
      $("#movimiento_equipo").on('click', function(){

        id_equipo = $('#origen_equipo').attr('data-id');
        equipo = $('#origen_equipo').attr('data-name');
        id_responsable = $('#select_destio_equipos').val();
        
        fecha = $("#movimiento_fecha").val();

        if (id_equipo!='' && id_responsable != '' && fecha != ''){

             $.confirm({
                    title: 'Movimiento Equipo!',
                    content: 'Seguro desea hacer el movimiento de la/el '+equipo,
                    icon: 'fa fa-question-circle',
                    animation: 'scale',
                    closeAnimation: 'scale',
                    opacity: 0.5,
                    buttons: {
                        'confirm': {
                            text: 'Hacer Movimineto Equipo',
                            btnClass: 'btn-blue',
                            action: function () {

                            $("#modal_movimiento_pieza").modal('hide');                   

                             $.post('{{path('gestionar_movimiento')}}', { 'action': 'movimiento_equipo', 'id_equipo': id_equipo , 'id_responsable' : id_responsable, 'fecha': fecha })
                                        .done(function (d) {  
                                          if (d == true){
                                            $.alert({
                                                title: 'Mensaje',
                                                content: 'Se realizó corectamente el movimiento de la/el '+equipo,
                                                type: 'blue',
                                                animation: 'scale',
                                                draggable: true,
                                            });
                                          }                                            
                                        }).fail(function () {
                                          alerta_error();
                                      });
                                
                            }
                        },
                        cancel: function () {
                            $.alert('Movimiento Cancelado!');
                        }
                       }
                        });


        }else{
            $.alert({
                title: 'Mensaje',
                content: 'Existen Campos Vacios !',
                type: 'blue',
                animation: 'scale',
                draggable: true,
            });
        }
      });








      // filtrar tabla
      $('#myInput').live('keyup',function(){
        var that = this, $allListElements = $('.tr');
        var $matchingListElements = $allListElements.filter(function(i, li){
        var listItemText = $(li).text().toUpperCase(),
        searchText = that.value.toUpperCase();
        return ~listItemText.indexOf(searchText);
        });
        $allListElements.hide();
        $matchingListElements.show();
    });


      function alerta_error(){
         $.alert({
              title: 'Error',
              icon: 'fa fa-warning',
              type: 'red',
              content: 'Algo salió mal, por favor vuelva a intentarlo'                      
          });
      }

       //mensaje para campos vacios
      function alerta_campos_vacios(){
        $.alert({
                title: 'Mensaje',
                content: 'Existen Campos Vacios !',
                type: 'blue',
                animation: 'scale',
                draggable: true,
            });
      }

    


   });


     
    </script>

    <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}

