{% extends '::base_pro.html.twig' %}

{% block title %}Gestionar Password Setup{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}



{% block body %}

	{#{% include 'PiedraBundle:include:header.html.twig' %}

	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		

	{% include 'PiedraBundle:include:sidebar.html.twig' %}#}



	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN  MODAL Adicionar Departamento-->
			<div class="modal fade" id="modalPS" tabindex="-1" role="dialog" aria-labelledby="modalPS" aria-hidden="true">
				<div class="modal-dialog">

				<form role="form" action="{{path('adicionar_password_setup')}}" method="POST" accept-charset="utf-8">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Adicionar Password Setup</h4>
						</div>
						<div class="modal-body">
							 
							 	  <div class="form-body">

				                    <div class="form-group form-md-line-input">
										<input type="text" class="form-control" id="area" name="area" placeholder="area">	

										<span class="help-block">Area ...</span>
									</div>

									<div class="form-group form-md-line-input">
										<input type="text" class="form-control" id="nombrepc" name="nombrepc" placeholder="nombre pc">	

										<span class="help-block">Pc ...</span>
									</div>				                    							 	

									<div class="form-group form-md-line-input">
										<input type="text" class="form-control" id="password" name="password" placeholder="password">	

										<span class="help-block">Adicionar Password Setup...</span>
									</div>

									<div class="form-group form-md-checkboxes">
									<label>Contrase単a Administrativa</label>
									<div class="md-checkbox-inline">
										
										<div class="md-checkbox ">
											<input type="checkbox" id="is_administrativa" name="is_administrativa" class="md-check" checked>
											<label for="is_administrativa">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											Administrativa </label>
										</div>
									</div>
								</div>



							    </div>
							    </br>
							 
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn blue">Adicionar</button>
							<button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
						</div>
					</div>

					</form>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>Adicionar Departamento <small>listado de departamentos</small></h1>
				</div>
				<!-- END PAGE TITLE -->
				
			</div>
			<!-- END PAGE HEAD -->
			
			<!-- END PAGE HEADER-->


			<!-- BEGIN PAGE CONTENT-->
			
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								Listado de Contrase単as del Setup
							</div>
							
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<a href="#modalPS" data-toggle="modal" class="btn green">
											Adicionar Contrase単a de Setup <i class="fa fa-plus"></i>
											</a>
										</div>

										<div class="btn-group">
				                           <a href="{{path('exportar_listado_password_setup')}}" target="_blank" data-toggle="modal" class="btn yellow">
				                      Exportar Listado Password Setup <i class="fa fa-file-pdf-o"></i>
				                      </a>
                   						</div>	
									</div>
									

									<div class="col-md-6">
					                   <div class="input-icon">
					                    <i class="fa fa-search"></i>
					                    <input class="form-control" type="text" id="myInput" placeholder="Buscar Password Setup">
					                  </div>
					                </div>
									
								</div>
							</div>
							
							<div class="scroller"  style="height: 350px;">
							<table id="table_password_setup" class="table table-striped table-hover table-bordered dataTable" >
	                            <thead>
	                            <tr>
	                                <th> No. </th>
	                                <th>Departamento</th>
	                                <th>Pc o Usuario</th>
	                                <th>Contrase単a</th>
	                                <th>Administrativa</th>                                
	                                
	                            </tr>
	                            </thead>
	                            <tbody>
	                            	{% for ps in password_setups %}
	                            		<tr class="tr">
	                            			<td>{{ ps.id}}</td>
	                            			<td>{{ ps.area}}</td>
	                            			<td>{{ ps.pc}}</td>
	                            			<td>{{ ps.password}}</td>

	                            			{% if ps.isAdministrativa == true %} 
				                        	<td>
				                        	<div class="form-group">
													<div class="checkbox-list">
														<label class="checkbox-inline">
														<input class="checkbox" type="checkbox" data-id="isAdministrativa" id="{{ps.id}}" checked> </label>
													</div>
												</div>
				                        	</td>	                            
											{% else %}
											<td>
				                        	<div class="form-group">
													<div class="checkbox-list">
														<label class="checkbox-inline">
														<input class="checkbox" type="checkbox" data-id="isAdministrativa" id="{{ps.id}}"> </label>
													</div>
												</div>
				                        	</td>
											{%endif%}

	                            		</tr>
	                            	{% endfor %}
	                            </tbody>
                        	</table>
                        	</div>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT -->
		</div>
	</div>

	</div>



{% endblock %}

{% block javascripts %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    

<script  src="{{asset('bundles/piedra/global/plugins/jquery-tabledit/jquery.tabledit.js')}}"></script>



    <script type="text/javascript"> 


	 $(".checkbox").change(function(){
		var check = $(this).parent('span').attr('class');
		var id = $(this).attr('id');
		var action = $(this).attr('data-id');    	
		
		$.ajax({
			type: 'POST',
			url: "{{path('password_setups_checkbox_ajax')}}",
			data:{
				'id': id,
				'action': action,
				'check': check
			},success: function(data){
				console.log(data);
			}
		});
	});	


      $('#table_password_setup').Tabledit({
        url: '{{path('adicionar_password_setup')}}',
        editButton: false,       
        editmethod: 'post',
        deletemethod: 'post',
        buttons: {
            delete: {
                class: 'btn btn-sm btn-danger',
                html: '<span class="glyphicon glyphicon-trash"></span> &nbsp ELIMINAR',
                action: 'delete'
            },
            edit: {
            class: 'btn btn-sm btn-primary',
            html: '<span class="glyphicon glyphicon-pencil"></span> &nbsp EDIT',
            action: 'edit'
            },
            save: {
              class: 'btn btn-sm btn-success',
              html: 'Save'
            },
            restore: {
              class: 'btn btn-sm btn-warning',
              html: 'Restore',
              action: 'restore'
            },
            confirm: {
                class: 'btn btn-sm btn-default',
                html: 'CONFIRMAR'
            }
        },

        columns: {
          identifier: [0, 'id'],                    
          editable: [[1, 'area'],[2, 'pc'],[3, 'password']]
        }, 
      });


    
    // filtrar tabla
    $('#myInput').keyup(function(){
			var that = this, $allListElements = $('.tr');
			var $matchingListElements = $allListElements.filter(function(i, li){
			var listItemText = $(li).text().toUpperCase(),
			searchText = that.value.toUpperCase();
			return ~listItemText.indexOf(searchText);
			});
			$allListElements.hide();
			$matchingListElements.show();
	});



    </script>
    <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}

