{% extends '::base.html.twig' %}

{% block title %}Inventario Pc{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
   
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}



{% block body %}

  {% include 'PiedraBundle:include:header.html.twig' %}

  <!-- END HEADER -->
  <div class="clearfix"></div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    

  {% include 'PiedraBundle:include:sidebar.html.twig' %}



  <div class="page-content-wrapper">
    <div class="page-content">
      
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE HEADER-->
      <!-- BEGIN PAGE HEAD -->
      <div class="page-head">
        
        
      </div>
      <!-- END PAGE HEAD -->
      
      <!-- END PAGE HEADER-->


      <!-- BEGIN PAGE CONTENT-->
      
      <div class="row">
        <div class="col-md-12">
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                Inventario | PC: {{pc.nombrePc}} | Departamento: {{ pc.departamento}}
              </div>
              
            </div>
            <div class="portlet-body">
              
              

              <table id="table_inventario_pc" class="table table-striped table-hover table-bordered dataTable" >
                  <thead>
                  <tr>
                      <th> No. </th>
                      <th> AREA</th>
                      <th> COMPONENTE</th>
                      <th> MARCA</th>
                      <th> MODELO</th>
                      <th> SERIAL</th>
                      <th> ESTADO</th>
                      <th> MEDIO BÁSICO </th>
                      <th> NO. SUBMAYOR </th>
                  </tr>
                  </thead>
                  <tbody>
                      
                      {% for inventario in inventarios %}

                        <tr data-id="{{ inventario.id }}">
                            <td> {{ inventario.id }}</td>
                            <td> {{ inventario.departamento}} </td>
                            <td> {{ inventario.componente }}</td>
                            <td> {{ inventario.marca }}</td>
                            <td> {{ inventario.modelo }}</td>
                            <td> {{ inventario.serial }}</td>
                            <td> {{ inventario.estado }}</td>
                            <td> {{ inventario.medioBasico }}</td>
                            <td> {{ inventario.noSubmayor }}</td>                           
                           
                        </tr>

                      {%endfor%}

                  </tbody>
              </table>  

            </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
        </div>
      </div>
      <!-- END PAGE CONTENT -->
    </div>
  </div>

  </div>



{% endblock %}

{% block javascripts %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script  src="{{asset('bundles/piedra/global/plugins/jquery-tabledit/jquery.tabledit.js')}}"></script>
    
    <script type="text/javascript"> 


      $('#table_inventario_pc').Tabledit({
        url: '{{path('inventario_pc',{"idPc":pc.id})}}',
        editButton: false,       
        editmethod: 'post',
        deletemethod: 'post',
        buttons: {
            delete: {
                class: 'btn btn-sm btn-danger',
                html: '<span class="glyphicon glyphicon-trash"></span> &nbsp ELIMINAR',
                action: 'delete'
            },
            edit: {
            class: 'btn btn-sm btn-primary',
            html: '<span class="glyphicon glyphicon-pencil"></span> &nbsp EDIT',
            action: 'edit'
            },
            save: {
              class: 'btn btn-sm btn-success',
              html: 'Save'
            },
            restore: {
              class: 'btn btn-sm btn-warning',
              html: 'Restore',
              action: 'restore'
            },
            confirm: {
                class: 'btn btn-sm btn-default',
                html: 'CONFIRMAR'
            }
        },

        columns: {
          identifier: [0, 'id'],                    
          editable: [[3, 'marca'], [4, 'modelo'], [5, 'serial'], [6, 'estado'],[7, 'medio_basico'],[8, 'no_submayor']]
        }, 



      });


    </script>

    <!-- END PAGE LEVEL PLUGINS -->




{% endblock %}

